;/*               D'abord un css reset                    */

    html, body, p, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
        font-weight: normal
    }
    
    button, input, select {
        margin: 0
    }
    
    html {
        box-sizing: border-box
    }
    
    *, *::before, *::after {
        box-sizing: inherit
    }
    
    img, video {
        height: auto;
        max-width: 100%
    }
    
    iframe {
        border: 0
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0
    }
    
    td, th {
        padding: 0
    }
    
    /*                  Fin du css reset                             */

    #rectangle{
        width:600px;
        height:400px;
    }

/* mon flex prenant l'écran */
.All_the_screen {
    display: flex;
}
/* Mon coté gauche de l'écran  */
.Left_side {
    background-color: rgb(14, 9, 9);
    width: 70%;
}

.Right_side {
    background-color: black;
    display: block;
    width: 30%;
}

.styled {

    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}