;/*               D'abord un css reset                    */

    html, body, p, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
        font-weight: normal
    }
    
    button, input, select {
        margin: 0
    }
    
    html {
        box-sizing: border-box
    }
    
    *, *::before, *::after {
        box-sizing: inherit
    }
    
    img, video {
        height: auto;
        max-width: 100%
    }
    
    iframe {
        border: 0
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0
    }
    
    td, th {
        padding: 0
    }
    
    /*                  Fin du css reset                             */


/* mon flex prenant l'écran */
.All_the_screen {
    display: flex;
}
/* Mon coté gauche de l'écran  */
.Left_side {
    background-color: rgb(14, 9, 9);
    width: 70%;
}

.Right_side {
    background-color: black;
    display: block;
    width: 30%;
}

button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }

